<template>
  <!-- v-mdoel:activeKey="activeTab" -->
  <a-tabs v-model="activeTab" size="large">
    <a-tab-pane key="1" tab="Empleados"><the-employee-tab /></a-tab-pane>
    <a-tab-pane key="2" tab="Clientes"><the-customer-tab /></a-tab-pane>
    <a-tab-pane key="3" tab="Productos" disabled> WIP </a-tab-pane>
  </a-tabs>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import TheEmployeeTab from "./components/TheEmployeeTab.vue";
import TheCustomerTab from "./components/TheCustomerTab.vue";

export default defineComponent({
  name: "App",
  components: {
    TheEmployeeTab,
    TheCustomerTab,
  },
  setup() {
    const activeTab = ref<number>(1);
    return {
      activeTab,
    };
  },
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 110vh;
  text-align: center;
  color: #2c3e50;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4em;
}

.container-btn {
  display: flex;
  justify-content: flex-start;
}
</style>
