<template>
  <section class="container" v-if="loaded">
    <div>
      <div class="container-btn" style="margin-bottom: 16px">
        <the-customer-tab-add @update-data="getData" />
        <the-customer-tab-delete
          :has-selected="hasSelected"
          :loading="loading"
          :how-many="howManySelected"
          :request="deleteData"
        />
      </div>

      <a-table
        :row-selection="{
          selectedRowKeys: selectedRowKeys,
          onChange: onSelectChange,
        }"
        :columns="columns"
        :data-source="data"
        row-key="id"
        :pagination="false"
      />
    </div>
  </section>
  <section class="container" v-else>Cargando...</section>
</template>

<script lang="ts">
import { defineComponent, toRefs, onMounted, reactive, computed } from "vue";
import { ColumnProps } from "ant-design-vue/es/table/interface";
import { Customer } from "../interfaces";
import TheCustomerTabAdd from "./TheCustomerTabAdd.vue";
import TheCustomerTabDelete from "./TheCustomerTabDelete.vue";
import axios from "axios";
import { message } from "ant-design-vue";

interface StateProps {
  selectedRowKeys: string[];
  loading: boolean;
  loaded: boolean;
  data: Customer[];
}

export default defineComponent({
  components: {
    TheCustomerTabAdd,
    TheCustomerTabDelete,
  },

  setup() {
    const columns: ColumnProps[] = [
      { title: "ID", dataIndex: "id" },
      { title: "Compañía", dataIndex: "company" },
      { title: "Contacto", dataIndex: "contact" },
      { title: "Título", dataIndex: "title" },
      { title: "País", dataIndex: "country" },
      { title: "Ciudad", dataIndex: "city" },
      { title: "Código Postal", dataIndex: "postalCode" },
      { title: "Fax", dataIndex: "fax" },
    ];

    const state = reactive<StateProps>({
      selectedRowKeys: [],
      loading: false,
      loaded: false,
      data: [],
    });

    const getData = () => {
      axios
        .get("http://localhost:8081/api/customers")
        .then((res) => res.data)
        .then((res) => (state.data = res))
        .then(() => {
          setTimeout(() => {
            state.loaded = true;
          }, 1000);
        });
    };

    const deleteData = () => {
      state.loading = true;
      setTimeout(() => {
        Promise.all(
          state.selectedRowKeys.map((key) => {
            return axios.delete(`http://localhost:8081/api/customers/${key}`);
          })
        )
          .then(() => {
            message.success(
              `Se han eliminado ${state.selectedRowKeys.length} ${
                state.selectedRowKeys.length === 1 ? "cliente" : "clientes"
              } satisfactoriamente`,
              3
            );
          })
          .catch(() => {
            message.error("Un error ha ocurrido", 3);
          })
          .finally(() => {
            state.loading = false;
            state.selectedRowKeys = [];
            getData();
          });
      }, 1000);
    };

    const onSelectChange = (selectedRowKeys: string[]) => {
      state.selectedRowKeys = selectedRowKeys;
    };

    const hasSelected = computed(
      (): boolean => state.selectedRowKeys.length > 0
    );
    const howManySelected = computed(
      (): number => state.selectedRowKeys.length
    );

    onMounted(getData);

    return {
      columns,
      ...toRefs(state),

      getData,
      deleteData,
      hasSelected,
      howManySelected,
      onSelectChange,
    };
  },
});
</script>
