<template>
  <!-- eslint-disable vue/no-v-model-argument -->
  <div>
    <a-button
      type="danger"
      :disabled="!hasSelected"
      :loading="loading"
      @click="confirm"
    >
      Eliminar
    </a-button>
  </div>
</template>

<script lang="ts">
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";
import { defineComponent, createVNode, computed } from "vue";
import { Modal } from "ant-design-vue";

export default defineComponent({
  props: {
    hasSelected: Boolean,
    howMany: Number,
    loading: Boolean,
    request: Function,
  },
  setup(props) {
    const confirm = () => {
      if (!props) return;
      Modal.confirm({
        title: `¿Estás seguro de eliminar ${props.howMany} ${toString}?`,
        icon: createVNode(ExclamationCircleOutlined),
        content: "Una vez realizada esta acción no se podrán hacer cambios",
        okText: "Confirmar",
        okType: "danger",
        cancelText: "Cancelar",
        okButtonProps: {},
        onOk() {
          if (!props.request) return;
          props?.request();
        },
      });
    };

    const toString = (): string | undefined => {
      if (!props) return;
      props.howMany === 1 ? "cliente" : "clientes";
    };

    return {
      confirm,
    };
  },
});
</script>
