<template>
  <!-- eslint-disable vue/no-v-model-argument -->
  <div style="margin-right: 1em">
    <a-button type="primary" @click="showModal"> Agregar </a-button>

    <a-modal v-model:visible="visible" title="Agregar cliente" :footer="null">
      <a-form
        name="custom-validation"
        ref="formRef"
        :model="formState"
        :rules="rules"
        v-bind="layout"
        @finish="handleFinish"
        @finishFailed="handleFinishFailed"
      >
        <a-form-item label="ID" name="id">
          <a-input
            v-model:value="formState.id"
            type="text"
            placeholder="AXIOS"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Compañía" name="company">
          <a-input
            v-model:value="formState.company"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Contacto" name="contact">
          <a-input
            v-model:value="formState.contact"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Título" name="title">
          <a-input
            v-model:value="formState.title"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="País" name="country">
          <a-select
            v-model:value="formState.country"
            placeholder="Seleccione su país"
          >
            <a-select-option value="USA">Estados Unidos</a-select-option>
            <a-select-option value="UK">Reino Unido</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="Ciudad" name="city">
          <a-select
            v-model:value="formState.city"
            placeholder="Seleccione su ciudad"
          >
            <a-select-option value="Seattle">Seattle</a-select-option>
            <a-select-option value="London">London</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="Código Postal" name="postalCode">
          <a-input
            v-model:value="formState.postalCode"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Fax" name="fax">
          <a-input
            v-model:value="formState.fax"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item :wrapper-col="{ span: 12, offset: 7 }" class="error-infos">
          <a-button key="back" @click="handleCancel" style="margin-right: 1em"
            >Cancelar</a-button
          >
          <a-button
            key="submit"
            type="primary"
            :loading="loading"
            html-type="submit"
            >Aceptar</a-button
          >
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, UnwrapRef, watchEffect } from "vue";
import { ValidateErrorEntity } from "ant-design-vue/es/form/interface";
import { message } from "ant-design-vue";
import axios from "axios";

interface FormState {
  id: string;
  company: string;
  contact: string;
  title: string;
  country: string | undefined;
  city: string | undefined;
  postalCode: string;
  fax: string;
}

export default defineComponent({
  setup(_props, { emit }) {
    const loading = ref<boolean>(false);
    const visible = ref<boolean>(false);

    const showModal = () => {
      visible.value = true;
    };

    const resetForm = () => {
      formRef.value.resetFields();
    };

    const handleCancel = () => {
      visible.value = false;
    };

    //Form begins
    const formRef = ref();
    const formState: UnwrapRef<FormState> = reactive({
      id: "",
      company: "",
      contact: "",
      title: "",
      country: undefined,
      city: undefined,
      postalCode: "",
      fax: "",
    });

    const rules = {
      id: [
        {
          required: true,
          message: "Ingrese un ID",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un ID válido",
          trigger: ["change", "blur"],
        },
        {
          min: 5,
          message: "Debe contener mínimo 3 caracteres",
          trigger: ["change", "blur"],
        },
      ],
      company: [
        {
          required: true,
          message: "Ingrese la compañía",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese la compañía válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 2 caracteres",
          trigger: ["change", "blur"],
        },
      ],
    };

    const layout = {
      labelCol: { span: 7 },
      wrapperCol: { span: 12 },
    };

    const handleFinish = (values: FormState) => {
      loading.value = true;
      console.log(values);
      setTimeout(async () => {
        const customer = await axios.get(
          `http://localhost:8081/api/customers/${values.id}`
        );
        console.log("Toy adentro");
        if (customer.data)
          return message.warn("El ID ingresado ya está registrado");

        loading.value = false;
        visible.value = false;

        axios
          .post("http://localhost:8081/api/customers", values)
          .then(() => {
            message.success("Cliente creado correctamente", 3);
            emit("update-data");
          })
          .catch(() => message.error("Error interno en el servidor"));
      }, 2000);
    };

    const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
      // console.log(errors);
    };

    watchEffect(() => {
      if (!visible.value && formRef.value) resetForm();
    });

    return {
      loading,
      visible,
      showModal,
      handleCancel,

      //form
      formState,
      formRef,
      rules,
      layout,
      handleFinishFailed,
      handleFinish,
    };
  },
});
</script>
