<template>
  <!-- eslint-disable vue/no-v-model-argument -->
  <div style="margin-right: 1em">
    <a-button type="primary" @click="showModal"> Agregar </a-button>

    <a-modal v-model:visible="visible" title="Agregar empleado" :footer="null">
      <a-form
        name="custom-validation"
        ref="formRef"
        :model="formState"
        :rules="rules"
        v-bind="layout"
        @finish="handleFinish"
        @finishFailed="handleFinishFailed"
      >
        <a-form-item label="Nombre" name="name">
          <a-input
            v-model:value="formState.name"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Apellido" name="surname">
          <a-input
            v-model:value="formState.surname"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Cargo" name="ocupation">
          <a-input
            v-model:value="formState.ocupation"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="Título" name="title">
          <a-input
            v-model:value="formState.title"
            type="text"
            autocomplete="off"
          />
        </a-form-item>

        <a-form-item label="País" name="country">
          <a-select
            v-model:value="formState.country"
            placeholder="Seleccione su país"
          >
            <a-select-option value="USA">Estados Unidos</a-select-option>
            <a-select-option value="UK">Reino Unido</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="Ciudad" name="city">
          <a-select
            v-model:value="formState.city"
            placeholder="Seleccione su ciudad"
          >
            <a-select-option value="Seattle">Seattle</a-select-option>
            <a-select-option value="London">London</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item :wrapper-col="{ span: 12, offset: 7 }" class="error-infos">
          <a-button key="back" @click="handleCancel" style="margin-right: 1em"
            >Cancelar</a-button
          >
          <a-button
            key="submit"
            type="primary"
            :loading="loading"
            html-type="submit"
            >Aceptar</a-button
          >
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, UnwrapRef, watchEffect } from "vue";
import { ValidateErrorEntity } from "ant-design-vue/es/form/interface";
import { message } from "ant-design-vue";
import axios from "axios";

interface FormState {
  name: string;
  surname: string;
  ocupation: string;
  title: string;
  country: string | undefined;
  city: string | undefined;
}

export default defineComponent({
  setup(_props, { emit }) {
    const loading = ref<boolean>(false);
    const visible = ref<boolean>(false);

    const showModal = () => {
      visible.value = true;
    };

    const resetForm = () => {
      formRef.value.resetFields();
    };

    const handleCancel = () => {
      visible.value = false;
    };

    //Form begins
    const formRef = ref();
    const formState: UnwrapRef<FormState> = reactive({
      name: "",
      surname: "",
      ocupation: "",
      title: "",
      country: undefined,
      city: undefined,
    });

    const rules = {
      name: [
        {
          required: true,
          message: "Ingrese su nombre",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un nombre válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 3 caracteres",
          trigger: ["change", "blur"],
        },
      ],
      surname: [
        {
          required: true,
          message: "Ingrese su apellido",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un apellido válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 3 caracteres",
          trigger: ["change", "blur"],
        },
      ],
    };

    const layout = {
      labelCol: { span: 7 },
      wrapperCol: { span: 12 },
    };

    const handleFinish = (values: FormState) => {
      loading.value = true;
      setTimeout(() => {
        loading.value = false;
        visible.value = false;
        axios
          .post("http://localhost:8081/api/employees", values)
          .then(() => {
            message.success("Empleado creado correctamente", 3);
            emit("update-data");
          })
          .catch(() => message.error("Error interno en el servidor"));
      }, 2000);
    };

    const handleFinishFailed = (errors: ValidateErrorEntity<FormState>) => {
      // console.log(errors);
    };

    watchEffect(() => {
      if (!visible.value && formRef.value) resetForm();
    });

    return {
      loading,
      visible,
      showModal,
      handleCancel,

      //form
      formState,
      formRef,
      rules,
      layout,
      handleFinishFailed,
      handleFinish,
    };
  },
});
</script>
