<template>
  <section class="container">
    <div>
      <div class="container-btn" style="margin-bottom: 16px">
        <the-employee-tab-add @update-data="getData" />
        <the-employee-tab-delete
          :has-selected="hasSelected"
          :loading="loading"
          :how-many="howManySelected"
          :request="deleteData"
        />
      </div>

      <a-table
        :row-selection="{
          selectedRowKeys: selectedRowKeys,
          onChange: onSelectChange,
        }"
        :columns="columns"
        :data-source="data"
        row-key="id"
        :pagination="false"
      />
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, toRefs, onMounted, reactive, computed } from "vue";
import { ColumnProps } from "ant-design-vue/es/table/interface";
import { Employee } from "../interfaces";
import TheEmployeeTabAdd from "./TheEmployeeTabAdd.vue";
import TheEmployeeTabDelete from "./TheEmployeeTabDelete.vue";
import axios from "axios";
import { message } from "ant-design-vue";

interface StateProps {
  selectedRowKeys: number[];
  loading: boolean;
  data: Employee[];
}

export default defineComponent({
  components: {
    TheEmployeeTabAdd,
    TheEmployeeTabDelete,
  },

  setup() {
    const columns: ColumnProps[] = [
      { title: "ID", dataIndex: "id" },
      { title: "Nombre", dataIndex: "name" },
      { title: "Apellido", dataIndex: "surname" },
      { title: "Ocupación", dataIndex: "ocupation" },
      { title: "Título", dataIndex: "title" },
      { title: "País", dataIndex: "country" },
      { title: "Ciudad", dataIndex: "city" },
    ];

    const state = reactive<StateProps>({
      selectedRowKeys: [],
      loading: false,
      data: [],
    });

    const getData = () => {
      axios
        .get("http://localhost:8081/api/employees")
        .then((res) => res.data)
        .then((res) => (state.data = res));
    };

    const deleteData = () => {
      console.log(state.selectedRowKeys);
      state.loading = true;
      setTimeout(() => {
        Promise.all(
          state.selectedRowKeys.map((key) => {
            return axios.delete(`http://localhost:8081/api/employees/${key}`);
          })
        )
          .then(() => {
            message.success(
              `Se han eliminado ${state.selectedRowKeys.length} ${
                state.selectedRowKeys.length === 1 ? "empleado" : "empleados"
              } satisfactoriamente`,
              3
            );
          })
          .catch(() => {
            message.error("Un error ha ocurrido", 3);
          })
          .finally(() => {
            state.loading = false;
            state.selectedRowKeys = [];
            getData();
          });
      }, 1000);
    };

    const onSelectChange = (selectedRowKeys: number[]) => {
      state.selectedRowKeys = selectedRowKeys;
    };

    const hasSelected = computed(
      (): boolean => state.selectedRowKeys.length > 0
    );
    const howManySelected = computed(
      (): number => state.selectedRowKeys.length
    );

    onMounted(getData);

    return {
      columns,
      ...toRefs(state),

      getData,
      deleteData,
      hasSelected,
      howManySelected,
      onSelectChange,
    };
  },
});
</script>
